include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

if page.layout=='post'
  if page.description
    - var page_description = page.description;
  else
    - var page_description = page.content.replace(/<[^>]+>/g,"").replace(/[\r\n]/g, "").substring(0, 200)
else if page.layout=='page' || page.layout=='single-column'
  - var page_description = page.description
else
  - var page_description = config.description

doctype html
html(lang='#{config.language}')
    head
      meta(http-equiv='content-type', content='text/html; charset=utf-8')
      meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
      meta(content='yes', name='apple-mobile-web-app-capable')
      meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
      meta(content='telephone=no', name='format-detection')
      meta(name='renderer', content='webkit')
      block title
      if page_description
        meta(name='description', content=page_description)
      link(type='text/css', rel='stylesheet', href=url_for(theme.css)+'/pure.css?v=' + theme.version)
      link(type='text/css', rel='stylesheet', href=url_for(theme.css)+'/style.css?v=' + theme.version)
      script(type='text/javascript',src='//cdn.bootcss.com/jquery/1.11.0/jquery.min.js')
      if config.feed
        link(rel='alternate', type=feed_type, href=url_for(config.feed.path))

  body: .body_container
    #header
      .site-name
        h1.hidden= current_title
        a#logo(href=url_for('.'))= config.title
      #nav-menu
        .bitcron_nav
          .site_nav_wrap
            .site_nav
              - for (var i in theme.menu)
                +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)

    #layout.pure-g
      .pure-u-1: .content_container
        block content
    
    include _partial/footer
    include _partial/totop
    include _partial/after_footer
