extends base

block title
  title= page.title + ' - ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-meta= page.date.format('YYYY-MM-DD')
      if theme.busuanzi == true
        script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js',type='text/javascript')
        span(class='meta-space')='  |  '
        span#busuanzi_container_page_pv
          span#busuanzi_value_page_pv
          span= ' ' + __('浏览')
    //文章内容
    .post-content
      != page.content
    //文章标签
    include _partial/tag
    //评论
    if page.comments
      include _partial/comments
