//-图片灯箱效果支持文件引入
if theme.fancybox == true
  link(rel='stylesheet',href=url_for(theme.css) + '/jquery.fancybox.css')
  script(type='text/javascript',src='//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js')
  script(type='text/javascript',src=url_for(theme.js) + '/fancybox.js?v=' + theme.version)

//-谷歌统计引入
if theme.google_analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create','#{theme.google_analytics}','auto');ga('send','pageview');

//-百度统计引入
if theme.baidu_analytics
  script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?#{theme.baidu_analytics}";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();

//- 数学公式支持
if page.mathjax
  include mathjax

//-数学公式支持
if page.mathjax2
  include mathjax2
  
//- 因为highlight生成的代码块在小屏幕上会出现显示不全，这里用JS单独做自适应
script.
  function auto_code_fit(){
    if($(".highlight").length != 0){
      var pc_width = $(".post-content").width();
      $(".highlight .code").find("pre").width((pc_width-70)+"px");
    }
  }
  window.onresize = function(){
    auto_code_fit();
  }
  auto_code_fit();
  
